.footer
  background-color: $dark
  color: $light
  padding-top: 108px
  padding-bottom: 46px
  &-wrapper
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-auto-rows: minmax(30px, min-content)
    grid-gap: 20px
    padding-bottom: 102px
  &__logo
    grid-column: 1 / 4
    grid-row: 1 / 5
    align-self: center
    &-icon
      width: 154px
  &__categories
    grid-column: 4 / 7
    grid-row: 1 / 5
  &__additional
    grid-column: 7 / 10
    grid-row: 1 / 4
  &__social
    &-links
      display: flex
      align-items: center
      min-width: 83px
      justify-content: space-between
    &-network
      display: flex
      align-items: start
      grid-row: 4 / 5
      grid-column: 7 / 11
  &__contact
    &-details
      grid-column: 1 / 7
      grid-row: 6 / 7
    &-form
      margin-top: -10px
      grid-column: 7 / 13
      grid-row: 6 / 7
  &__legal
    justify-self: end
    grid-column: 10 / 13
    grid-row: 1 / 4
  &__title
    font-weight: bold
    font-size: 18px
    line-height: 23px
    margin: 0 0 16px 0
    text-transform: uppercase
    &--inline
      margin: 0 43px 0 0
    &-form
      margin-top: 26px
      margin-bottom: 34px
    &-details
      margin-top: 28px
      margin-bottom: 26px
  &__ul
    padding: 0
    margin: 0
    list-style: none
  &__item
    display: flex
    align-items: center
    font-size: 14px
    line-height: 160%
    color: $footer-text-color
    &--mb-2
      margin-bottom: 20px
  &__icon
    &-wrapper
      min-width: 40px
      display: flex
      &--phone, &--map
        align-self: start
  &__text
    margin-top: 0
    margin-bottom: 22px
    font-size: 14px
    line-height: 160%
    color: $footer-text-color
  &__link
    text-decoration: none
    color: inherit
    white-space: nowrap
  &__input
    font-size: 12px
    line-height: 15px
    width: 100%
    color: $text-color
    &::placeholder
      color: #BDBDBD
    &-group
      margin-bottom: 15px
      flex-basis: 48%
      align-self: start
  &__message
    flex-basis: 100%
    height: 123px
    margin-bottom: 22px
    resize: none
    font-size: 12px
    line-height: 15px
    color: $text-color
    &::placeholder
      color: #BDBDBD
  &__info
    font-weight: bold
    font-size: 12px
    line-height: 15px
    color: #E0E0E0
  &__button
    transition: background-color 0.2s
.bottom
  position: relative
  display: flex
  justify-content: center
  &__list
    padding: 0
    margin: 0 auto
    list-style: none
    display: flex
    align-items: end
  &__item
    font-size: 12px
    line-height: 15px
    color: $light
    &:not(:last-child)
      margin-right: 12px
  &__link
    text-decoration: none
    color: inherit
  &__icons
    position: absolute
    top: -7px
    right: 0
    width: 136px

