.packages
  padding: 40px 0 70px 0
  &__title 
    margin: 0 auto 65px auto
    font-weight: bold
    font-size: 36px
    line-height: 45px
    text-align: center
    text-transform: uppercase
  &-wrapper
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(2, 1fr)
    grid-auto-rows: 1fr
    grid-gap: 30px
  &-card
    min-height: 500px
    border-radius: 8px
    overflow: hidden
    &__image
      position: absolute
      top: 0
      bottom: 0
      right: 0
      left: 0
      width: 100%
      height: 100%     
      background-color: #007ADF
      object-fit: cover
      object-position: center 30%
      &-block
        position: relative
        // &--big-card
        //   grid-row: span 2
    &__offer 
      position: absolute
      font-weight: 600
      font-size: 8px
      line-height: 10px
      left: 0
      top: 26px
      color: $light
      background-color: $primary
      padding: 4px 9px
      border-radius: 0px 4px 4px 0px        
    &__information
      padding: 30px 21px 25px 32px
      background-color: $dark
      color: $light
      display: flex
      justify-content: space-between
      flex-direction: column
    &__rating
      display: none
      margin-bottom: 5px
    &__title
      font-weight: bold
      font-size: 18px
      line-height: 23px
      margin: 0
      &-block
        margin-bottom: 23px
    &__text
      font-size: 14px
      line-height: 160.6%
      margin: 0 0 23px 0
      display: none
    &__old
      &-price
        display: block
        font-size: 14px
        line-height: 18px
        text-decoration-line: line-through
    &__price
      font-weight: bold
      font-size: 24px
      line-height: 30px
      &-group
        display: flex
        align-items: center
        justify-content: space-between
    &__button
      font-weight: 600
      font-size: 14px
      line-height: 19px
      border: none
      background-color: $primary
      color: $light
      padding: 10px 26px
      border-radius: 4px
      cursor: pointer
      outline: none
    &__person
      &-room
        margin-bottom: 24px
  &__card
    display: grid
    grid-template-rows: 50% 50%
    &--big-card
      grid-template-columns: 50% 50%
      grid-column: span 2
      .packages
        &-card
          &__image
            &-block
              grid-row: span 2
          &__offer
            font-size: 12px
            line-height: 15px
            padding: 7px 12px
          &__information
            padding: 46px 21px 30px 43px
            grid-row: span 2
          &__rating
            display: block
          &__text
            display: block
.person
  &-room
    &__text
      display: flex
      align-items: center
      justify-content: flex-start
      font-size: 12px
      line-height: 15px
      &:not(:last-child)
        margin-bottom: 11px
    &__icon
      margin-right: 14px
